<a href="https://colab.research.google.com/github/Mohammadakhavan75/DataAnalysiswithPython/blob/main/IntroductiontoPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

In [ ]:
import pandas as pd
import numpy as np

Pandas Series

In [ ]:
# Creating empty series  
ser = pd.Series()  
    
print(ser)  
  
# simple array  
data = np.array(['g', 'e', 'e', 'k', 's'])  
    
ser = pd.Series(data)  
print(ser)

Pandas DataFrame

In [ ]:
df = pd.DataFrame()  
print(df) 
  
# list of strings  
lst = ['Geeks', 'For', 'Geeks', 'is',   
            'portal', 'for', 'Geeks']  
    
# Calling DataFrame constructor on list  
df = pd.DataFrame(lst)  
print(df)

In [ ]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

In [ ]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['Name', 'Qualification']])

In [ ]:
!wget https://media.geeksforgeeks.org/wp-content/uploads/nba.csv

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]

print(first, "\n\n\n", second)

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving columns by indexing operator
first = data["Age"]
 
print(first)

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving rows by iloc method 
row2 = data.iloc[3] 

print(row2)

In [ ]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

In [ ]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna(0)

In [ ]:
# making data frame 
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
data = pd.read_csv(nba.csv) 
# calling head() method  
# storing in new variable 
print(data.head())
print(data.tail())

In [ ]:
# number of rows to return 
n = 12
  
# creating series 
series = data["Salary"] 
  
# returning top n rows 
series.tail(n = n)

In [ ]:
# removing null values to avoid errors  
data.dropna(inplace = True)  
  
# calling describe method 
data["Name"].describe()

In [ ]:
# creating DataFrame form weight column 
gfg = pd.DataFrame(data['Weight'].head()) 
   
# providing dtype 
print(gfg.to_numpy(dtype ='float32'))

In [ ]:
# Creating the Series 
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None]) 
  
# Create the Index 
# apply yearly frequency 
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y') 
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr)

In [ ]:
# return numpy array representation 
result = sr.as_matrix() 
  
# Print the result 
print(result)

In [ ]:
data = pd.read_csv("nba.csv") 

df = pd.DataFrame(data) 
   
# converting and overwriting values in column 
print(df["Name"].str.lower())

In [ ]:
# importing pandas module  
import pandas as pd 
     
# Define a dictionary containing employee data 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Knnuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data) 
    
# dropping null value columns to avoid errors 
df.dropna(inplace = True) 
    
# new data frame with split value columns 
df["Address"]= df["Address"].str.split("a", n = 1, expand = True) 
   
# df display 
print(df)

In [ ]:
# importing pandas module 
import pandas as pd
 
# reading csv file from url
data = pd.read_csv("nba.csv")
 
# overwriting column with replaced value of age
data["Age"]= data["Age"].replace(25.0, "Twenty five")
 
# creating a filter for age column 
# where age = "Twenty five"
filter = data["Age"]=="Twenty five"
 
# printing only filtered columns
data.where(filter).dropna()

In [ ]:
# Import the excel file and call it xls_file 
excel_file = pd.ExcelFile('pandasEx.xlsx') 
  
# View the excel_file's sheet names 
print(excel_file.sheet_names) 
  
# Load the excel_file's Sheet1 as a dataframe 
df = excel_file.parse('Sheet1') 
print(df)

In [ ]:
# making data frame  
data = pd.read_csv("nba.csv")  
  
# iterating the columns 
for col in data.columns: 
    print(col)

In [ ]:
print(data.columns)

In [ ]:
# list of name, degree, score 
nme = ["aparna", "pankaj", "sudhir", "Geeku"] 
deg = ["MBA", "BCA", "M.Tech", "MBA"] 
scr = [90, 40, 80, 98] 
   
# dictionary of lists  
dict = {'name': nme, 'degree': deg, 'score': scr}  
     
df = pd.DataFrame(dict) 
  
# saving the dataframe 
df.to_csv('file1.csv')

In [ ]:
df.to_csv('file1.csv', index=False)

In [ ]:
# making data frame from csv file  
data = pd.read_csv("nba.csv") 
  
# retrieving rows by loc method  
row1 = data.loc[3] 
  
# retrieving rows by iloc method 
row2 = data.iloc[3] 
  
# checking if values are equal 
row1 == row2

In [ ]:
# making data frame from csv file 
data = pd.read_csv("nba.csv", index_col ="Name") 
  
  
# retrieving all rows and some columns by iloc method  
row2 = data.iloc [:, [1, 2]]

In [ ]:
def main(): 
      
    # create a dictionary with 
    # five fields each 
    data = { 
            'A':[1, 2, 3],  
            'B':[4, 5, 6],  
            'C':[7, 8, 9] } 
      
    # Convert the dictionary into DataFrame  
    df = pd.DataFrame(data) 
    print("Original DataFrame:\n", df) 
      
    # applying function to each row in the dataframe 
    # and storing result in a new coloumn 
    df['add'] = df.apply(np.sum, axis = 1) 
   
    print('\nAfter Applying Function: ') 
    # printing the new dataframe 
    print(df) 
   
if __name__ == '__main__': 
    main()

In [ ]:
# making data frame from csv file 
df = pd.read_csv("nba.csv") 
  
# We are going to find aggregation for these columns 
df.aggregate({"Number":['sum', 'min'], 
              "Age":['max', 'min'], 
              "Weight":['min', 'sum'],  
              "Salary":['sum']})