<a href="https://colab.research.google.com/github/Mohammadakhavan75/DataAnalysiswithPython/blob/main/IntroductiontoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Syntax**

print

In [ ]:
print("Hello, World!")

**Indentation**

In [ ]:
if 5 > 2:
    print("Five is greater than two!")
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

error

In [ ]:
if 5 > 2:
print("Five is greater than two!")

Python Variables

In [ ]:
x = 5
y = "Hello, World!"
y = 'Hello, World!'

Comment

In [ ]:
#This is a comment.
print("Hello, World!")

Casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

String

In [ ]:
a = "Hello, World!"
print(a[1])

In [ ]:
b = "Hello, World!"
print(b[2:5])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.split(","))

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.append("blackcurrant")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.pop(2)
thislist.remove("apple")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist2 = thislist
thislist2.pop(0)
print(thislist2)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist2 = thislist.copy()
thislist2.pop(0)
print(thislist2)
print(thislist)

For Loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    print(x)
    break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
for x in [0, 1, 2]:
  pass

Function

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(country = "Iran"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
def my_function():
  pass

my_function()